{% extends 'Products/base.html' %}

{% block title %}Products Listings{% endblock %}

{% block content %}
<h1>Products Listings</h1>
<ul>
    {% for Products in commodities %}
    <li>
        <h3>{{ Products.item_name }} ({{ Products.item_category }})</h3>
        <p>{{ Products.item_description }}</p>
        <p>Price per month: ${{ Products.quote_price_per_month }}</p>
        <a href="{% url 'bid_view' Products.id %}">Place Bid</a>
    </li>
    {% empty %}
    <li>No commodities available at the moment.</li>
    {% endfor %}
</ul>
{% endblock %}
